@namespace Turbohesap.Web.Components.Button
@inherits Turbohesap.Web.Components.Base.TurboComponentBase
@* Kod tarafı: ThButton.razor.cs *@

<button type="@Type"
        class="@RootClass"
        disabled="@(Disabled || Loading)"
        @attributes="AdditionalAttributes"
        @onclick="OnClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    @ChildContent
</button>
