@namespace Turbohesap.Web.Components.Shell
@inject Turbohesap.Web.Services.LayoutState Layout
@inject Turbohesap.Web.Services.AppNavigation Navigation
@inject NavigationManager Nav
@* Kod tarafı: CommandLauncher.razor.cs *@

@if (Layout.CommandOpen)
{
    <div class="th-command-overlay" @onclick="Layout.CloseCommand">
        <div class="th-command" @onclick:stopPropagation="true">
            <div class="th-command__search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="th-command__input" placeholder="Sayfa ara veya komut çalıştır…"
                       value="@_search" @oninput="OnSearch" @onkeydown="OnKeyDown" autofocus />
            </div>
            <div class="th-command__results">
                @{
                    var results = Results().ToList();
                }
                @if (results.Count == 0)
                {
                    <div class="th-command__empty">Sonuç bulunamadı.</div>
                }
                else
                {
                    @foreach (var item in results)
                    {
                        <div class="th-command__item" @onclick="() => Go(item)">
                            <span class="th-command__item-icon"><i class="@item.Icon"></i></span>
                            <span>@item.Label</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
