@namespace Turbohesap.Web.Components.Badge
@inherits Turbohesap.Web.Components.Base.TurboComponentBase
@* Kod tarafı: ThStatusBadge.razor.cs *@

<span class="@RootClass" style="@Style" @attributes="AdditionalAttributes">
    @if (ShowDot)
    {
        <span class="th-status-badge-dot"></span>
    }
    <span class="th-status-badge-label">@DisplayLabel</span>
</span>
