@namespace Turbohesap.Web.Components.Spinner
@inherits Turbohesap.Web.Components.Base.TurboComponentBase
@* Kod tarafı: ThSpinner.razor.cs *@

<div class="@RootClass" style="@Style" role="status" aria-label="Yükleniyor..." @attributes="AdditionalAttributes">
    <span class="sr-only">Yükleniyor...</span>
</div>
