@namespace Turbohesap.Web.Components.Dropdown
@inherits Turbohesap.Web.Components.Base.TurboComponentBase

<div class="th-dropdown-divider @Class" style="@Style" @attributes="AdditionalAttributes"></div>
