@page "/showcase"
@namespace Turbohesap.Web.Pages.Showcase

<PageTitle>Bileşen Vitrini · Turbohesap</PageTitle>

<ThPage Title="Bileşen Vitrini" Subtitle="Yeni Modal ve Dialog Bileşenleri Test Alanı" TabIcon="fa-solid fa-flask">
    <ChildContent>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <Turbohesap.Web.Pages.Showcase.Dialog.DialogShowcase />
            <Turbohesap.Web.Pages.Showcase.Modal.ModalShowcase />
            <Turbohesap.Web.Pages.Showcase.Toast.ToastShowcase />
            <Turbohesap.Web.Pages.Showcase.Drawer.DrawerShowcase />
            <Turbohesap.Web.Pages.Showcase.Tabs.TabsShowcase />
            <Turbohesap.Web.Pages.Showcase.Dropdown.DropdownShowcase />
        </div>
    </ChildContent>
</ThPage>
